<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regra de três</title>
</head>
<body>
    <form action="/resultados" method="get">
        <input id="valor1" name="valor1" type="number" placeholder="Primeiro valor">
        <input id="valor2" name="valor2" type="number" placeholder="Segundo valor">
        <br>
        <input id="valor3" name="valor3" type="number" placeholder="Terceiro valor">
        <input type="submit" value="Enviar">
        
    </form>
</body>
</html>