<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>

<body>
    <h1>Digite dois números:</h1>
    <form action="/resultado" method="get">
        <label> Número 1: </label>
        <input id="n1" name="n1" />
        <label> Número 2: </label>
        <input id="n2" name="n2" />
        <label>Digite sua operação: </label>
        <input id="operacao" name="operacao" />
        <input type="submit"></button>
    </form>
    <h1>Resultado:</h1>
    <h1 id="resultado"></h1>
</body>

</html>